*{ margin:0 auto; text-decoration:none; list-style:none; font-size:13px;}
a{ color:black;}
a:hover{ color:#C30; text-decoration:underline}
#wrap{ width:100%}
#header{ width:1280px; position:relative}
#top{ height:25px; line-height:25px;padding-left:30px; position:relative}
#top span{ position:absolute;right:40px}
#sousuo{ position:absolute; right:30px; top:25px;}
#dh{width:100%; height:40px; background:#089a23; z-index:9999}
#dh ul{ width:1280px; z-index:9999}
#dh ul li { float:left ; display:block; width:140px; height:40px; text-align:center; line-height:40px;}
#dh ul li a{ font-size:16px; color: #FFF; font-weight:bold; display:block; margin-top:0px;}
#dh ul li a:hover{ text-decoration:none; background: #007516; display:block}
#dh ul li ul li h1{ margin-left:-60px;}
#dh ul li ul li h1 a{ color:black; font-size:17px; display:block; width:80px; font-weight:bold; color:#4cc262}
#dh ul li ul li h1 a:hover{ background:#007516}
#dh ul li ul li a{ color:black; font-size:13px; display:block; width:160px; font-weight:normal}
#dh ul li:hover ul{ display:block}
#dh ul li ul li:hover{ display:block; background:#007516; color:#FFF}
#dh ul li ul li:hover a{ color:#FFF}
#dh ul li ul{ height:400px; width:140px; margin-top:0px; display: none; position:absolute}
#dh ul li ul li{ clear:both; width:180px; height:100px; margin-left:-40px}


.dhbg{ background:#efefef}
.dhbg1{ background:#ffffff}

#mainbody{ position:relative; width:1280px;}
#banner{ width:1280px;height:601px; margin-top:0px; background:#999}
#middle{ width:1030px; height:300px; position:relative;float:left; z-index:9999}
#middle ul{ overflow:hidden; width:492; height:42px;margin-top:20px; }
#middle ul li{border:1px solid #E7E7E7; float:left; display:block; width:166px; height:40px;text-align:center;line-height:40px;background: #8bd08d}
#middle ul li a{ font-size:14px; width:166px; height:32px;}



#right{ width:241px; height:300px; background:white; float:right;margin-top:38px;}
#tuijian{padding-top:15px;padding-left:15px;width:225px;border-bottom:1px dashed #d9d8d8;}
#dian{float:right;width:50px;}
#dian1{width:8px;height:8px;background:#CCC;float:left;margin-right:8px;border-radius:15px;}
#dian2{width:8px;height:8px;background:#999;float:left;margin-right:8px;border-radius:15px;}
#dian3{width:8px;height:8px;background:#666;float:left;margin-right:8px;border-radius:15px;}


#footer{width:100%;height:230px;background:#effdec;position:relative;}
#zhinan{position:absolute;left:270px;top:50px;color:#636363;width:100px;height:150px}
#zhinan img{float:left;}
#toubu{font-size:14px; font-weight:bold;margin-bottom:10px;}
#peisong{position:absolute;left:450px;top:50px;color:#636363;width:150px;height:150px}
#peisong img{float:left;}
#toubu{font-size:14px; font-weight:bold;margin-bottom:10px;}
#zhifu{position:absolute;left:660px;top:50px;color:#636363;width:150px;height:150px}
#zhifu img{float:left;}
#toubu{font-size:14px; font-weight:bold;margin-bottom:10px;}
#shouhou{position:absolute;left:850px;top:50px;color:#636363;width:150px;height:150px}
#shouhou img{float:left;}
#toubu{font-size:14px; font-weight:bold;margin-bottom:10px;}
#tuihuanhuo{margin-left:150px;margin-top:50px}
#baozhang{width:170px;height:130px;text-align:center;top:50px;position:absolute;right:350px;border-left:1px solid #dbdbdb;}
#baozhang img{margin-top:20px;}

.zhutu{position:absolute; margin-top:20px;}
.zhutu img{margin-left:2px}
.active{background:#03ae23;}

#right img{margin-left:15px}