*{ text-decoration:none; list-style:none; margin:0 auto; font-size:14px;}
a{ color:#000}
a:hover{ text-decoration:underline; color:#933}
#wrap{width:1003px;}
#header{ height:30px; background:#f3f3f3; font-size:14px; padding-left:102px; font-family:"幼圆"; clear:both; z-index:999; position:relative}
#heima{ font-family:"黑体"; font-style:italic; line-height:40px; margin-right:30px;}.
#header img{ margin-left:20px; border:0px;}
#julebu{ position:absolute; right:110px; line-height:40px;}

#mainbody{ margin-top:0px;}
#banner{ position:relative;height:351px; width:1003px; top:0px;z-index: 1}
#logo{
	position:absolute;
	left:90px;
	z-index:999;
	background:#FFF;
	width:68px;
	top: 0px;
}
#logo img{ margin-left:12px;}
#dh{width:1003px; height:40px; position: relative; background: #000000; clear:both;z-index: 2; }
#dh ul{ position: relative; left:180px;}
#dh ul li{ float:left; display:block;}
#dh ul li a{ display:block; width:80px; height:40px; text-align:center; line-height:40px; color: #FFFFFF}
#dh ul li a:hover{background:#FFF;text-decoration:underline; color:#933}
#dh ul li:hover #box{ display:block}

#box{ width:100%; background: #FFF; height:200px; position:absolute; left:-180px; margin:0 auto; display:none;}
.box1{ width:70px; height:100%; float:left; margin:0px 30px 30px 70px; border-left:1px solid #999}
#box .box1 h1{ position: relative;left:30px; font-size: 20px; margin-top: 10px}
#box .box1 h1 a{width:100px; height:50px; position:relative; color: #000000}
#box .box1 ul{ position:relative; left:-30px; top:30px;}
#box .box1 ul li{ clear:both; width:100px;}
#box .box1 ul li a{ width:150px; height:20px; text-align: left; line-height:20px; color: #000000}
#box .box1 ul li a:hover{text-decoration:underline; color:#933}

#middle{ margin-top:10px; width: 1003px; overflow: hidden}
#middle div{ float:left;}
.qianggou{ width:215px;height:254px; background:#dfdfdf;margin-left: 10px;}
.qianggou dd{ margin:5px;}
.qianggou dt{ text-align:center; margin-top:15px; font-size: 14px;}
#lijigoumai { margin-left:8px; position:relative;z-index: 1;}
#lijigoumai1{
	position: absolute;
	left:223px;
	top: 107px;
	opacity: 0;
	filter: alpha(opacity:0);
	z-index: 999;
}
#lijigoumai1 a{ display:block; color: #000; font-family:"黑体"; background: #FFF; width:90px; height:40px; text-align:center; line-height:40px;z-index: 999;}
#lijigoumai1 a:hover{ text-decoration:none}
#fuqinjie{ margin-top:10px;}

#footer{margin:0 auto;width:1003px;}

#dibu{
	background:#363636;
	height:190px;
	position:relative;
}
#font{
	font-family:"微软雅黑";
	color:white;
	margin-left:50px;
	line-height:24px;
	padding-top:25px
}
#font li{
	float:left;
	margin-right:100px;
}
#shequ{
	position:absolute;
	top:50px;
	right:50px;
}
#Img3{
	position:absolute;
	top:20px;
	right:20px;
}
