.play ul { padding: 0; margin: 0; }
.play li { list-style: none; }
.play img { border: 0; }

.play { width:1003px; height: 530px; margin: 50px auto 0; background: #999; font: 12px Arial; }

.big_pic { width: 1003px; height: 530px; overflow: hidden; border-bottom: 1px solid #ccc; background: #222; position: relative; }
.big_pic li { width: 1003px; height: 530px; overflow: hidden; position: absolute; top: 0; left: 0; z-index: 0; no-repeat center center; }

.mark_left {
	width: 502px;
	height: 530px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: red;





filter: alpha(opacity:0); 						opacity: 0;
	z-index: 3000;
}
.mark_right {
	width: 501px;
	height: 530px;
	position: absolute;
	left: 502px;
	top: 0;
	background: green;

filter: alpha(opacity:0); 		opacity: 0;
	z-index: 3000;
}
.big_pic .prev {
	width: 60px;
	height: 60px;
	background: url(images/btn.gif) no-repeat;
	position: absolute;
	top: 235px;
	left: 10px;
	z-index: 3001;
	filter:alpha(opacity:0);
	opacity: 0;
	cursor: pointer;
}
.big_pic .next {
	width: 60px;
	height: 60px;
	background: url(images/btn.gif) no-repeat 0 -60px;
	position: absolute;
	top: 235px;
	right: 8px;
	z-index: 3001;
	filter:alpha(opacity:0);
	opacity: 0;
	cursor: pointer;
}
.big_pic .bg { width: 400px; height: 25px; background: #000; filter: alpha(opacity=60); opacity: 0.6; position: absolute; z-index: 2999; bottom: 0; left: 0; }
.small_pic { width: 380px; height: 70px; position: relative; top: 7px; left: 321px; overflow: hidden; }
.small_pic ul { height: 94px; position: absolute; top: 0; left: 0; }
.small_pic li { width: 120px; height: 94px; float: left; padding-right: 10px; background: no-repeat center center; cursor: pointer; filter: alpha(opacity=60); opacity: 0.6; }
.small_pic img { width: 120px; height: 70px; }
